torch>=2.1,<2.3
transformers>=4.36.0
accelerate==0.20.3
langchain==0.0.202
langchain-community==0.0.15
python-dotenv==0.21.0  #to use key-value pairs from .env file
loguru==0.6.0          #for better logging
fastapi==0.110.0
uvicorn==0.27.1
pydantic>=1.10.0,<2.0.0